.header {
	align-items:center;
	border-bottom: 1px solid black;
	display: flex;
	background-color: white;
	font-family: Verdana;
	font-size: 14px;
	font-weight: bold;
	justify-content: space-between;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 5;
}

.logo {
	display: flex;
	align-items: center;
	padding: 10px;
}

.nav {
	display: flex;
	justify-content: flex-end;
	min-width: 400px;
	align-items: center;
	margin-right: 40px;
}

.paper-name {
	color: MediumAquamarine;
	padding: 15px;
}

.nav span {
	justify-content: flex-end;
}

span a {
	color: black;
	padding-right: 30px;
}

.main-container {
	display: flex;
	justify-content: space-between;
	position: relative;
	top: 120px;
	left: 80px;
	width: 1200px;
}

.column {
	display; flex
	flex-direction: column;
	margin-right: 32px
}

.large {
	width: 630px;
}

.medium {
	width: 300px;
}

.small {
	width: 240px;
}

#mother {
	display: flex;
	background-image: url("../images/img-story-main.png");
	text-align: left;
	align-items: center;
	font-size: 40px;
}

.image-box {
	display: flex;
	font-family: Georgia;
	font-size: 30px;
	font-weight: bold;
	color: white;
	height: 300px;
	justify-content: center;	
}

.narrative {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

#earth {
	background-image: url("../images/img-story-2.png");
}

#research {
	background-image: url(../images/img-story-3.png);
}

#cats {
	background-image: url("../images/img-story-1.png");
}

.text-box {
	font-family: Georgia;
  	font-size: 17px;
  	color: black;
}

.stories {
	justify-content: space-between;
	width: 300px;
}

#bites {
	display: flex;
	font-size: 16px;
  	font-weight: bold;
	padding: 30px;
	width: 240px;
	margin: auto;
	border: 1px solid black;
}

.list {
	flex-direction: column;
	border-bottom: 1px solid black;
	background-color: WhiteSmoke;
  	font-family: Verdana;
  	font-size: 12px;
 	color: DimGray;
 	padding: 10px 10px 10px 10px;
 	margin: 0px;
 	text-overflow: wrap;
 	display: relative;
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: MediumAquamarine;
  	margin: auto;
  	font-family: Verdana;
  	font-size: 12px;
  	position: relative;
  	height: 300px;
}

#title {
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;	
  padding-right: 20px;
  border-right: 2px solid white;
}

.copyright {
	display: block;
}

.footer-nav {
	padding-left: 20px;
}